
<%- include('head'); %>

<body>

    <section id='home-section'>
        <div id=div1a>
            <h1>Home Free!!</h1>
        </div>
        <div id=div2>
            <div class="navbar" id="myNavbar">
                <a href="/"><h3>Home</h3></a>
                <a href="users"><h3>Users</h3></a>
                <a href="movies"><h3>Movies</h3></a>                               
                <a href="http://www.simondevine.org/"><h3>simmer999</h3></a>
              </div>
        </div>
        <div id=div3>
            <div class="navbar" id="myNavbar">
                <a href="typing"><h3>Typing</h3></a>
                <a href="darts"><h3>Darts</h3></a>
                <a href="#"><h3>Open</h3></a>                
                <a href="#"><h3>Open</h3></a>                
                <a href="#"><h3>Open</h3></a>
              </div>
        </div>
        <div id=div4></div>

    </section>
    <script src="./main.js" ></script>

<%- include('footer'); %>