<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://d3js.org/d3.v6.min.js" defer></script>
    <script src="https://d3js.org/d3-scale.v3.min.js" defer></script>
    <script src="svg.js" defer></script>

    <!-- <script src="/main.js" defer></script> -->
    <!-- <script src="/typing.js" defer></script>
    <script src="/routes/svg.js" defer></script> -->
    <link rel="stylesheet" href="style_server.css">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="form.css">
</head>
<body class="container">

    <section id="typing-section">

        <div id=div2>
            <div class="navbar" id="myNavbar">
                <a href="/" style="height: 40px">Home</a>
                <form method="POST" action='typing'>
                    <label for="date"></label>
                    <input type="text" id="date" name="date" placeholder=' date'>
                    <label for="keystrokes"></label>                    
                    <input type="number" id="keystrokes" name="keystrokes" placeholder=' keystrokes'>
                    <label for="accuracy"></label>
                    <input type="number" step=".01" id="accuracy" name="accuracy" placeholder=' accuracy'>
                    <label for="correct_words"></label>
                    <input type="number" id="correct_words" name="correct_words" placeholder=' correct words'>
                    <label for="wpm"></label>
                    <input type="number" id="wpm" name="wpm" placeholder=' wpm'>
                    <input type="submit" value="Submit">
                </form>
                <!-- <a href="mongo">Mongo</a>
                <a href="mflix">mflix</a>                
                <a href="http://www.simondevine.org/">simmer999</a> -->
            </div>
        </div>   

        <div id=div3>
            <br>
            <ul class="quotes">
                <% for(var i = 0; i < entries.length; i++) {%>
                <li class="quote-3">
                    <span><%= entries[i].wpm%> wpm</span>
                </li>
                <% } %>
            </ul>
        </div>

        <div id=div4>
 
            <svg>
 
            </svg>
        </div>
    
    </section>

    <div id=div5>
        <p class='footerP'>© Copyright 2021 simmer999</p>
    </div>

</body>
</html>